[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
python-dotenv = "*"
transitions = "*"
pygraphviz = "*"
google-api-python-client = "*"
googlesearch-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
